- stylesheet_link_tag "application"

= link_to "Find a Mentor | ", new_user_registration_path(user_type: "mentee")
= link_to "Become a Mentor", new_user_registration_path(user_type: "mentor")
%p= link_to "Login", new_user_session_path
%p= link_to "Sign out", destroy_user_session_path, method: :delete

.splash
  %figure
    = image_tag "cflogo.png"
  %article
    %section.student
      %h2 Dexter
      %h2 UX Student
      %h3 I'm excited to get real-world insights
    %section.mentor
      %h2 Sarah
      %h2 UX Mentor
      %h3 I love watching young talent grow

  %button= link_to "Find a Mentor | ", new_user_registration_path(user_type: "mentee"), {class: "findMentor"}
  %button= link_to "Become a Mentor", new_user_registration_path(user_type: "mentor"), {class: "beMentor"}
  %button= link_to "Have an account?", new_user_session_path
  -# %p= link_to "Sign out", destroy_user_session_path, method: :delete
