.splash#splashBody
  %figure.cflogo
    = image_tag "cflogo.png"
  %article.copy
    %section.student#student
      %h1 Dexter
      %h2 UX Student
      %h3
        &ldquo;I need real-world
        %br
        insight and advice&rdquo;
    %section.mentor#mentor
      %h1 Sarah
      %h2 UX Mentor
      %h3
        &ldquo;I love helping
        %br
        young talent grow&rdquo;
  %article.roleButtons
    %section.newWay
      %span MENTOR MATCH
      %p A new way for students to find mentors
    %section.button-wrap.wht
      %button.findMentor.trans_wht_btn#findMentor= link_to "Find a Mentor", new_user_registration_path(user_type: "mentee"), {class: "btn_txt"}
      .triangleUp.triWht
    %section.button-wrap
      %button.beMentor.trans_wht_btn#beMentor= link_to "Become a Mentor", new_user_registration_path(user_type: "mentor"), {class: "btn_txt"}
      .triangleUp.triBlk
  %article.haveAccount
    .triangleUp.darkRed
    %section.existingUser
      %button.haveAccount= link_to "Have an account?", new_user_session_path, {class: "btn_txt"}
  %p.whoFor Who is Mentor Match for?
  %section.hero
    .overlay
    %figure
      = image_tag "tony_portrait-sq.jpg", class: "heroImg"
    .ulWrapper
      %ul#studentHeroCopy
        %h1 Our Students
        %h2 are just like you
        %h3
          and they're learning
          %br
          from the pros
  %section.hero
    .overlay
    .ulWrapper.mentors
      %ul.mentors#mentorHeroCopy
        %h1 Our Mentors
        %h2 are working practicioners
        %h3 at the top of their fields
    %figure
      = image_tag "overshoulder-sq.jpg", class: "heroImg"
  %p.learnMore Learn a little more...
  %section.about
    %button.wht_red_btn
      = link_to "About Mentor Match", intro_path
