.mainNav
  %section
    %p= link_to "Home", dashboard_path(current_user.id)
  %section
    %p= link_to "My Account", user_path(current_user)
  %section
    - if current_user.mentor?
      %p= link_to "My Mentees", friendships_path
    - else
      %p= link_to "My Mentors", friendships_path
  %section
    %p= link_to "Browse", users_path
  / %section
  /   %p= link_to "My Toolbox", toolbox_path
  %section
    %p= link_to "About", intro_path
  %section
    %p= link_to "My Favorites", favorites_path(current_user.id)
