<article class="quickNav">
  <% if current_user.present? %>
    <ul>
      <%= image_tag @user.gravatar_url%>
        <!-- make this image link to user home -->
      <li class="userCheck">
        <p>Hi, <%= current_user.first_name %><p>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "signout" %>
      </li>
      <div class="verticalRule"></div>
      <li>
        <%= link_to "", dashboard_path, class: "fa fa-home", id: "home" %>
        <label for="home">home</label>
      </li>
      <div class="verticalRule"></div>
      <li>
        <%= link_to "", toolbox_path, class: "fa fa-wrench", id: "toolbox" %>
        <label for="toolbox">toolbox</label>
      </li>
      <div class="verticalRule"></div>
      <li>
        <%= link_to "", feedback_path, class: "fa fa-bullhorn", id: "feedback" %>
        <label for="feedback">feedback</label>
      </li>
      <div class="verticalRule"></div>
      <li>
        <%= link_to "", user_path, class: "fa fa-cog", id: "settings" %>
        <label for="settings">settings</label>
      </li>
    </ul>
  <% else %>
    <section>
      <button>
        <%= link_to "Sign up", new_user_registration_path %>
      </button>
      <div class="verticalRule"></div>
      <button>
        <%= link_to "Log in", new_user_session_path %>
      </button>
    </section>
  <% end %>
<article>