.dash
  %header
    .logo
    = render "quickNav"
  .mainWrapper
    .mainNav
      %section
        %p= link_to "Home", dashboard_path(current_user.id)
      %section
        %p= link_to "My Account", user_path(current_user)
      %section
        %p My Mentor
      %section
        %p= link_to "Browse", users_path
      %section
        %p= link_to "My Toolbox", toolbox_path
      %section
        %p= link_to "About", intro_path
      %section
        %p Feedback
    -# .main
    -#   %section
    -#     %h2 Browse
    -#     %button
    -#       = link_to "", users_path, class: "fa fa-chevron-right"
    -#   %section
    -#     %h2 Calendar
    -#     %button
    -#       = link_to "", calendar_path, class: "fa fa-chevron-right"
    -#   %section
    -#     %h2 History
    -#     %button
    -#       = link_to "", history_path, class: "fa fa-chevron-right"
    .mainAside
      %section
        %figure
          =image_tag ("dexter_square.jpg")
        .paraWrap
          %p.paraWrapP Bacon ipsum dolor sit amet enim
      %section
        %figure
          =image_tag ("mark_square.jpg")
        .paraWrap
          %p.paraWrapP Bresaola landjaeger et filet mignon
      %section
        %figure
          =image_tag ("gabe_square.jpg")
        .paraWrap
          %p.paraWrapP Strip steak labore frankfurter flank
      %section
        %figure
          =image_tag ("gabe_square.jpg")
        .paraWrap
          %p.paraWrapP Strip steak labore frankfurter flank