%h1= "#{current_user.first_name}'s Dashboard"
=link_to "Browse #{current_user.opposite_role}", users_path
<div>Calendar</div>
=link_to 'View your Favorites', history_path(current_user.id)
%h5 Pending Mentorships
- @pending_friendships.each do |f|
  %p= link_to "#{User.find(f.user_id).first_name}", user_path(f.user_id)
