.dash
  %header
    .logo
    = render "quickNav"
  .mainWrapper
    .mainNav
      %section
        %p= link_to "Home", dashboard_path(current_user.id)
      %section
        %p= link_to "My Account", user_path(current_user)
      %section
        - if current_user.mentor?
          %p= link_to "My Mentees", friendships_path
        - else
          %p= link_to "My Mentors", friendships_path
      %section
        %p= link_to "Browse", users_path
      / %section
      /   %p= link_to "My Toolbox", toolbox_path
      %section
        %p= link_to "About", intro_path
      / %section
      /   %p Feedback
    -# .main
    -#   %section
    -#     %h2 Browse
    -#     %button
    -#       = link_to "", users_path, class: "fa fa-chevron-right"
    -#   %section
    -#     %h2 Calendar
    -#     %button
    -#       = link_to "", calendar_path, class: "fa fa-chevron-right"
    -#   %section
    -#     %h2 History
    -#     %button
    -#       = link_to "", history_path, class: "fa fa-chevron-right"
    - if current_user.inverse_friendships
      .mainAside
        - current_user.inverse_friendships.where(state: "pending").each do |request|
          %section
            %figure
              = link_to(user_path(request.user)) do
                = image_tag request.user.gravatar_url(:d => "http%3A%2F%2Fi.imgur.com%2FUFa4kwT.png")
            .paraWrap
              %p.paraWrap #{ request.user.first_name } requested to be your #{ request.user.role }
              %button
                = link_to 'Accept', friendship_path(request), method: :patch
              %button
                = link_to 'Decline', friendship_path(request), method: :delete

