.dash
  %header
    .logo
    = render "quickNav"
  .mainWrapper
    .mainNav
      %input{type: "checkbox", id: "navToggle"}
      %label{for: "navToggle", class: "fa fa-bars"}
      %section
        %p= link_to "Home", dashboard_path(current_user.id)
      %section
        %p= link_to "My Account", user_path(current_user)
      - if current_user.mentee? && !current_user.friends.empty?
        %section
          %p My Mentor
      %section
        %p= link_to "About", intro_path
  .users
    - @users.each do |user|
      %article.userCard
        = image_tag user.gravatar_url(:d => "http%3A%2F%2Fi.imgur.com%2FUFa4kwT.png")
        - if user.fullname.present?
          %p#name= user.fullname
        - if user.mentee?
          %p#stack= user.stack
          %p#grad_class= user.graduating_class
        - if user.mentor?
          %p#position= user.position
          %p#company= user.company
        %button
          = link_to("View Details", user)
