.profileBuild
  %button.skip
    = link_to "Save this Step for Later", user_path(@user)
  %h1 SWEET!
  = form_for(@user) do |f|
    %section#s1
      %h2
        We'll use a few quick questions to build your profile.
        Tell us a little about yourself.<br> Anything you want.
      .fieldWrap
        = f.label :background, 'Bio'
        = f.text_area :background, placeholder: "Well, on Saturday's I like to juggle chainsaws dressed like a sailor..."
        %span.next.fa.fa-angle-double-right#next_1
      %nav.progBar
        %ul
          %li.progDot.active
          %li.progDot
          - if current_user.role =="mentor"
            %li.progDot
    - if current_user.role == "mentee"
      %section#s2
        %h2
          What technologies are you familiar with?
        .fieldWrap
          = f.label :technologies
          = f.text_area :technologies, placeholder: 'Example: Python, JavaScript, and Node.js'
          %button.submit
            = f.submit 'Submit', class: "submit"
        %nav.progBar
          %ul
            %li.progDot
            %li.progDot.active
    - if current_user.role == "mentor"
      %section#s6
        %h2
          What is your role right now?
        .fieldWrap
          = f.label :position
          = f.text_area :position, placeholder: "Example: Senior Engineer"
          %span.next.fa.fa-angle-double-right#next_6
        %nav.progBar
          %ul
            %li.progDot
            %li.progDot.active
            %li.progDot
      %section#s7
        %h2
          Where do you work? <br> Just the company name is fine.
        .fieldWrap
          = f.label :company
          = f.text_field :company, type: "text", placeholder: "ACME Corp."
          %button.submit
            = f.submit 'Submit', class: "submit"
        %nav.progBar
          %ul
            %li.progDot
            %li.progDot
            %li.progDot.active
