<div class="profileBuild">
  <div class="viewWrapper">
    <div class="viewCanvas">
      <%= form_for(@user) do |f| %>
        <section class="_1 show">
          <h2>We'll use a few quick questions to build your profile.<br>First of all, what's your name?</h2>
            <div class="fieldWrapper">
              <div class="field">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, :placeholder => "Robert" %>
              </div>
              <div class="field">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, :placeholder => "Baratheon"%>
              </div>
              <div class="hundo"><span id="next_1" class="next fa fa-angle-double-right"></span></div>
            </div>
            <div class="progBar">
              <div class="progDot"></div>
              <div class="progDot"></div>
              <div class="progDot"></div>
              <div class="progDot"></div>
              <div class="progDot"></div>
            </div>
        </section>
        <section id="_2" class="show">
          <h2>Tell us a little about yourself.<br> Anything you want.</h2>
          <div class="fieldWrapper">
            <div class="field">
              <div class="stacked">
                <%= f.label :background %>
                <%= f.text_area :background, :placeholder => "Well, on Saturdays I juggle chainsaws..." %>
              </div>
            </div>
            <div class="hundo"><span id="next_2" class="next fa fa-angle-double-right"></span></div>
          </div>
        </section>
        <section id="_3" class="show">
          <h2>What have you done?<br> What are you proud of?</h2>
          <div class="fieldWrapper">
            <div class="field">
              <div class="stacked">
                <%= f.label :accomplishments %>
                <%= f.text_area :accomplishments %>
              </div>
            </div>
          </div>
          <div class="hundo"><span id="next_3" class="next fa fa-angle-double-right"></span></div>
        </section>
        <section id="_4" class="show">
          <h2>Briefly describe your professional history. Where have you been?</h2>
          <div class="fieldWrapper">
            <div class="field">
              <div class="stacked">
                <%= f.label :professional_summary  %>
                <%= f.text_area :professional_summary %>
              </div>
            </div>
          </div>
          <div class="hundo"><span id="next_4" class="next fa fa-angle-double-right"></span></div>
        </section>
        <section id="_5" class="show">
          <h2>Where do you work?</h2>
          <% if current_user.role == "mentor" %>
           <div class="fieldWrapper">
              <div class="stacked">
                <div class="field">
                  <%= f.label :company %>
                  <%= f.text_area :company %>
                </div>
                <h2>What is your position?  </h2>
                <div class="field">
                  <%= f.label :position, class: "stacked"  %>
                  <%= f.text_area :position %>
                </div>
              </div>
            </div>
            <div c><span class="next fa fa-angle-double-right"></span></div>
          <% end %>
        </section>
      <% end %>
    </div>
  </div>
</div>
