<h1>Listing <%= "#{current_user.role == "mentee" ? "Mentors" : "Mentees"}" %></h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user.role == "mentee" %>
      <div>List of Mentors</div>
      <% @mentors.each do |mentor| %>
        <% if mentor.available? %>
          <tr>
            <td><%= mentor.first_name %></td>
            <td><%= mentor.role %></td>
            <td><%= link_to 'Show', mentor %></td>
            <td><%= link_to 'Edit', edit_user_path(mentor) %></td>
            <td><%= link_to 'Destroy', mentor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    <% else %>
      <p>"List of Mentees"</p>
      <% @mentees.each do |mentee| %>
        <tr>
          <td><%= mentee.first_name %></td>
          <td><%= mentee.role %></td>
          <td><%= link_to 'Show', mentee %></td>
          <td><%= link_to 'Edit', edit_user_path(mentee) %></td>
          <td><%= link_to 'Destroy', mentee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %> 
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
