-# = render 'quickNav'

.users
  -# %header
  -#   Listing
  -#   = "#{current_user.role == "mentee" ? "Mentors" : "Mentees"}"
  - @users.each do |user|
    %article.userCard
      = image_tag user.gravatar_url(:d => "http%3A%2F%2Fi.imgur.com%2FUFa4kwT.png")
      %p#name= user.fullname
      - if user.mentee?
        %p#stack= user.stack
        %p#grad_class= user.graduating_class
      - if user.mentor?
        %p#position= user.position
        %p#company= user.company
      %button
        = link_to("View Details", user)

  -# %button
  -#   = link_to "back", dashboard_path
