%h1
  Listing
  = "#{current_user.role == "mentee" ? "Mentors" : "Mentees"}"

.users
  - @users.each do |user|
    .userCard
      %p= image_tag user.gravatar_url
      %p= user.fullname
      - if current_user.mentee?
        %p= user.stack
        %p= user.graduating_class
      - if current_user.mentor?
        %p= user.company
        %p= user.position
      %button
        = link_to("View Details", user)

