.browse-users
  %header
    .logo
    = render "quickNav"
  .mainWrapper
    = render 'main_nav'
    - if current_user.inverse_friendships
      = render 'activity_feed'
    .users
      = form_tag users_path, :method => "get", id: "search-form" do
        = text_field_tag :search, nil, placeholder: 'example: ruby on rails'
        = submit_tag 'Search', class: 'search-button'
        = link_to 'Reset', users_path, class: 'search-button'
      = render @users
      = will_paginate @users, previous_label: "<button>Previous</button>", next_label: "<button>Next</button>", page_links: false
