.profileBuild
  %button.skip Save this Step<br>for Later
  %h1 SWEET!
  = form_for(@user) do |f|
    %section#s1
      %h2
        We'll use a few quick questions<br> to build your profile.<br>First of all, what's your name?
      .fieldWrap.nameField
        = f.label :first_name
        = f.text_field :first_name, placeholder: "Robert", type: "text"
        = f.label :last_name
        = f.text_field :last_name, placeholder: "Baratheon", type: "text"
        %section.nextBtnWrap
        %span.next.fa.fa-angle-double-right#next_1
      %nav.progBar
        %ul
          %li.progDot
          %li.progDot
          %li.progDot
          %li.progDot
          %li.progDot
    %section#s2
      %h2
        Tell us a little about yourself.<br> Anything you want.
      .fieldWrap
        = f.label :background
        = f.text_area :background, placeholder: "Well, on Saturday's I like to juggle chainsaws dressed like a sailor..."
        %span.next.fa.fa-angle-double-right#next_2
      %nav.progBar
        %ul
          %li.progDot
          %li.progDot
          %li.progDot
          %li.progDot
          %li.progDot
    %section#s3
      %h2
        Say a bit about what you've done.<br> What are you proud of?
      .fieldWrap
        = f.label :accomplishments
        = f.text_area :accomplishments, placeholder:  "I arm wrestled Deniro once."
        %span.next.fa.fa-angle-double-right#next_3
      %nav.progBar
        %ul
          %li.progDot
          %li.progDot
          %li.progDot
          %li.progDot
          %li.progDot
    - if current_user.mentee?
          %section#s4
        %h2
          Briefly describe your professional history. <br> Where have you been?
        .fieldWrap
          = f.label :professional_summary
          = f.text_area :professional_summary, placeholder: "Spent 7 years fighting the robot uprising"
          %span.next.fa.fa-angle-double-right#next_4
        %nav.progBar
          %ul
            %li.progDot
            %li.progDot
            %li.progDot
            %li.progDot
            %li.progDot
      %section#s5
        %h2
          Finally, throw in something random. <br> Go nuts. But not too nuts.
        .fieldWrap
          = f.label :personal_statement
          = f.text_area :personal_statement, placeholder: "I can raise each of my eyebrows independently"
          %button.submit
            =f.submit 'Submit', class: "submit"
    - if current_user.mentor?
      %section#s6
        %h2
          Where do you work? <br> Just the company name is fine.
        .fieldWrap
          = f.label :company
          = f.text_field :company, type: "text", placeholder: "ACME Corp."
          %span.next.fa.fa-angle-double-right
      %section#s7
        %h2
          What is your role right now? <br> briefly describe your position.
        .fieldWrap
          = f.label :position
          = f.text_area :position, placeholder: "Senior Lunch Quality Assurance Engineer leading a team of 7 expert sandwich developers"
          %button.submit
            =f.submit 'Submit', class: "submit"
      %nav.progBar
        %ul
          %li.progDot
          %li.progDot
          %li.progDot
          %li.progDot
          %li.progDot






