<!-- <p id="notice"><%= notice %></p> -->
<!--============================================
 This is the view where a user would review and edit their profile information.
==============================================-->

<div class="show">
  <header>

  </header>
  <article class="userProfile">
    <figure class="profilePic">
      <section id="editContainer">
        <%= link_to 'Edit', edit_user_path(@user), id: "edit" %>
        <span class="fa fa-chevron-circle-down"></span>
      </section>
      <%= image_tag @user.gravatar_url%>
      <a href="http://en.gravatar.com/">
        <figcaption>
          <small>Don't see your picture? Get a Gravatar!</small>
          <span class="fa fa-chevron-circle-right"></span>
        </figcaption>
      </a>
    </figure>
    <section>
      <label for="Name">Name:</label>
      <p id="Name"><%= @user.first_name.capitalize + " " + @user.last_name.capitalize %></p>
    </section>
    <section>
      <input id = "showMore" class = "showMore" type = checkbox ></input>
      <label class = "showMore" for = "showMore"><span class="fa fa-angle-double-down"></span></label>
      <label for="background">Background:</label>
      <p id="background"><%= @user.background %></p>
    </section>
    <section>
      <input id = "showMore" class = "showMore" type = checkbox ></input>
      <label class = "showMore" for = "showMore"></label>
      <label for="accomplishments">Accomplishments:</label>
      <p id="accomplishments"><%= @user.accomplishments %></p>
    </section>

<!--============================================
              MENTEE SPECIFIC SECTION
==============================================-->

  <% if current_user.mentee? %>
    <section>
      <input id = "showMore" class = "showMore" type = checkbox ></input>
      <label class = "showMore" for = "showMore"></label>
      <label for="profSum">Professional summary:</label>
      <p id="profSum"><%= @user.professional_summary %></p>
    </section>
    <section>
      <input id = "showMore" class = "showMore" type = checkbox ></input>
      <label class = "showMore" for = "showMore"></label>
      <label for="personal">Personal statement:</label>
      <p><%= @user.personal_statement %></p>
    </section>
    <section>
      <label for="gradClass">Graduating Class</label>
      <p id="gradClass"><%= @user.graduating_class %></p>
    </section>
    <section>
      <label for="stack">Stack</label>
      <p><%= @user.stack %></p>
    </section>
  <% end %>


<!--============================================
              MENTOR SPECIFIC SECTION
==============================================-->

  <% if current_user.mentor? %>
    <section>
      <label for= "company"> Company</label>
      <p id="company"><%= @user.company %></p>
    </section>
    <section>
      <label for= "position">Position</label>
      <p id="position"><%= @user.position %></p>
    </section>
    <section>
      <input id = "showMore" class = "showMore" type = checkbox ></input>
      <label class = "showMore" for = "showMore"></label>
      <label for="role">Role:</label>
      <p id="role"><%= @user.role %></p>

        <span class="fa fa-angle-down"></span>

    </section>
    <section>
      <label for="availability">Availability:</label>
      <p id="availability"><%= @user.available %></p>
    </section>
     <% if @pending %>
      <% @pending.each do |pending| %>
      <!-- I would like to add an intermediary step here. Mentees and Mentors need to have an initial conversation to test the waters before plunging into a full on Mentorship. It needs to be something like, 'get introduced'.-->
        <%= link_to "Approve mentorship with #{User.find(pending.user_id).first_name}", friendship_path(id: pending.id, state: "approved"), method: :patch %>
      <% end %>
    <% end %>
  <% end %>

<!--============================================
              ADMIN-SPECIFIC SECTION
==============================================-->
<% if current_user.admin? %>
    <p>
      Admin:
      <%= @user.admin %>
    </p>
    <section>
      <label for="mentorships">Mentorships</label>
        <ul>
          <% for friendship in @user.friendships %>
            <li>
              <%= friendship.friend.first_name %>
            </li>
          <% end %>
        </ul>
    </section>
    <section>
      <label for="menteeships">Menteeships</label>
        <ul>
          <% for user in @user.inverse_friends %>
            <li>
              <%= user.first_name %>
              <%= user.last_name %>
            </li>
          <% end %>
        </ul>
    </section>
<% end %>

<!--============================================
      ACCOUNT CREATION SESSION ONLY
==============================================-->

  </article>
  <button class="lookGoodBtn">
    <% if current_user.sign_in_count == 1 %>
      <%= link_to "Look Good?", dashboard_path, id: "lookGood" %>
    <% end %>
  </button>

<!--============================================
      INTERACTIONS FOR EXPRESSING INTEREST
==============================================-->


  <% if current_user.sign_in_count != 1 %>
    <% if @approved_mentorship %>
      <% @approved_mentorship.each do |approved_mentorship| %>
      <!-- I also think we should change this to mean not 'end', but something along the lines of, 'transition'. Ending a mentorship for reasons of inappropriate behavior etc. should be an admin function. Mentors can effectively move their mentees to an inactive pile -->
        <%= link_to "End mentorship with #{User.find(approved_mentorship.user_id).email}", friendship_path(id: approved_mentorship.id, state: "ended"), method: :patch %>
      <% end %>
    <% end %>
    <aside>
    <!-- I think the below if statement needs to be if current user is a mentee && the user being viewed is a mentor && that mentor has availability -->
      <% if current_user.mentee? %>
        <%= link_to 'Introduce Yourself', friendships_path(:friend_id => @user.id), method: :post, class: "request" %>
      <% end %> <!--how does this post request work? can we formulate a message or give the user the option to write one?-->
    <!-- This needs to be depended on 'available' status -->
      <%= link_to "Add to Favorites", star_user_path(@user), method: :put, class: "addFav" %>
    <!-- this option is only visible when user being viewed is a mentor, who is already in a mentees favorites list -->
      <%= link_to "Remove from Favorites", unstar_user_path(@user), method: :put, class: "remFav" %>\
    </aside>
    <%= link_to 'Apply', users_path, id: "back", class: "btn_txt" %> <!-- This Apply Changes button should finalize any edits made to a users profile. Again, the user can only edit their own profile. When viewing other users, this button should function as a 'back'-->
  <% end %>
</div>

