/ <p id="notice"><haml_loud> notice </haml_loud></p>
/
  \============================================
  This is the view where a user would review and edit their profile information.
  \==============================================
.show
  %header
  %article.userProfile
    %figure.profilePic
      %section#editContainer
        = link_to 'Home', dashboard_path
        %span.fa.fa-chevron-circle-down
    = image_tag @user.gravatar_url(:d => "http%3A%2F%2Fi.imgur.com%2FUFa4kwT.png")
    - if policy(@user).update?
      %a{href: "http://en.gravatar.com/"}
        %figcaption
          %small Don't see your picture? Get a Gravatar!
          %span.fa.fa-chevron-circle-right
    %section
      %label{for: "Name"} Name:
      %p#Name #{@user.first_name} #{@user.last_name}
    - if current_user.accepted_friends.include?(@user)
      %section
        %label{for: "email"} Email:
        %p#email= @user.email
    /
      \============================================
      MENTEE SPECIFIC SECTION
      \==============================================
    - if @user.mentee?
      %section
        %label{for: "course"} Course:
        %p= @user.course
      %section
        %label{for: 'technologies'} Other Technologies:
        %p#technologies= @user.technologies
    /
      \============================================
      MENTOR SPECIFIC SECTION
      \==============================================
    - if @user.mentor?
      %section
        %label{for: "position"} Position:
        %p#position= @user.position
      %section
        %label{for: "company"} Company:
        %p#company= @user.company
      %section
        %label{for: "role"} Role:
        %p#role= @user.role
      %section
        %label{for: "availability"} Availability:
        %p#availability= @user.display_availability
        - if policy(@user).update?
          = link_to 'Change', user_path(@user, user: { available: current_user.change_availability }), method: :patch
      / ============================================
      / BIO FOR EVERYONE
      / ==============================================
    %section
      %label{for: "background"} Bio:
      %p#background= @user.background

    /
      \============================================
      ADMIN-SPECIFIC SECTION
      \==============================================
    - if current_user.admin?
      %p
        Admin:
        \#{@user.admin}
      %section
        %label{for: "mentorships"} Mentorships
        %ul
          - for friendship in @user.friendships
            %li
              = friendship.friend.first_name
      %section
        %label{for: "menteeships"} Menteeships
        %ul
          - for user in @user.inverse_friends
            %li
              = user.first_name
              = user.last_name

  - if policy(@user).update?
    = link_to "Edit", edit_user_path(current_user), id:"lookGood", class: 'lookGoodBtn addFav'
  /
    \============================================
    INTERACTIONS FOR EXPRESSING INTEREST
    \==============================================

  %aside
    / Add or remove favorites link
    - if current_user.voted_for? @user
      = link_to "Remove from favorites", unstar_user_path(@user), method: :put, class: "addFav"
    - else
      = link_to "Add to favorites", star_user_path(@user), method: :put, class: "addFav"

    / Request/End mentorship links
    - if current_user.can_request?(@user)
      = link_to "Request Mentor", friendships_path(friend_id: @user.id, user_id: current_user.id, state: 'pending'), method: :post, class: "addFav" if current_user.mentee?

      = link_to "Request Mentee", friendships_path(friend_id: @user.id, user_id: current_user.id, state: 'pending'), method: :post, class: "addFav" if current_user.mentor?

    - if current_user.accepted_friends.include?(@user)
      = link_to "End Mentorship", friendship_path(@user.find_friendship(current_user)), method: :delete, data: { confirm: 'Are you sure?'}, class: 'addFav'




