!! 5
%html(lang="en-US")
  %body
    %p #{@mentee.first_name},
    %p #{@mentor.first_name} #{@mentor.last_name} is your now your mentor! You can contact #{@mentor.first_name} by email at: #{@mentor.email}. Congratulations!
