!!!
%html(lang="en-US")
  %body
    %p #{@mentor.first_name},
    %p You have agreed to mentor #{@mentee.first_name} #{@mentee.last_name}! You can contact #{@mentee.first_name} by email at: #{@mentee.email}. Congratulations!
