.browse-users
  %header
    .logo
    = render "users/quickNav"
  .mainWrapper
    = render 'users/main_nav'
    - if current_user.inverse_friendships
      = render 'users/activity_feed'
    .users
      - if @friendships
        = render @friendships
        = will_paginate @users, previous_label: "<button>Previous</button>", next_label: "<button>Next</button>", page_links: false




/ %section.people
/   %header
/     %h2 Mentorship Requests
/   %table.table
/     %thead
/       %tr
/         %th(width="30%")
/         %th(width="20%") Name
/         %th(width="20%")
/         %th(width="30%")
/     %tbody
/       - if @friendships
/         - @friendships.each do |fship|
/           %tr
/             %td= fship.fullname
