.new
  %header
    %h1 Sign in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %article.inputsWrapper
      %section.userEmail
        = f.label :email
        = f.email_field :email, autofocus: true
        .break
      %section.userPassword
        = f.label :password
        = f.password_field :password, autocomplete: "off"
        .break
      %section.rememberMe
        - if devise_mapping.rememberable?
          = f.label :remember_me
          = f.check_box :remember_me
        .break
      %section.submitBtn
        %button.trans_wht_btn= f.submit "Go get 'em!", :class => "btn_txt"