= form_for @codefellows_course do |f|
  - if @codefellows_course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@codefellows_course.errors.count, "error")} prohibited this codefellows_course from being saved:"
      %ul
        - @codefellows_course.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :kind
    = f.select :kind, options_for_select([["Foundations"], ["Accelerator"], ["Bootcamp"]], @codefellows_course.kind)
    -# = f.select :kind

  .field
    = f.label :stack
    = f.text_field :stack, placeholder: "Javascript"
  .field
    = f.label :code
    = f.text_field :code, placeholder: "SEA-B17-BFG"
  .field
    = f.label :section
    = f.text_field :section, placeholder: "Evening"
  .field
    = f.label :starts_at
    = f.date_select :starts_at
  .field
    = f.label :ends_at
    = f.date_select :ends_at
  .field
    = f.label :instructor
    = f.text_field :instructor, placeholder: "Farmer Brown"
  .actions
    = f.submit 'Save'
