.courses
  %h1 Listing codefellows_courses

  %table
    %tr
      %th Kind
      %th Stack
      %th Code
      %th Section
      %th Start Date
      %th End Date
      %th Instructor
      %th View
      %th Edit
      %th Remove

    - @codefellows_courses.each do |codefellows_course|
      %tr
        %td= codefellows_course.kind
        %td= codefellows_course.stack
        %td= codefellows_course.code
        %td= codefellows_course.section
        %td= codefellows_course.starts_at
        %td= codefellows_course.ends_at
        %td= codefellows_course.instructor
        %td= link_to 'View', codefellows_course, class: 'hello'
        %td= link_to 'Edit', edit_codefellows_course_path(codefellows_course)
        %td= link_to 'Remove', codefellows_course, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  %section.newCourseButton
    = link_to 'Add a Course', new_codefellows_course_path
